

<div class="contenedor-cv">
  <div class="contenedor-personal-estudios">

    <div class="contenedor-datos-personales">
        <div class="contenedor-imagen">
            <img src="../assets/yo.png" alt="">
        </div>
        <div class="contenedor-personal">
            <h3><strong>Nombre:</strong></h3>
             <h3>Leandro</h3>
            <h3><strong>Apellido:</strong></h3>
              <h3>  Ramos</h3>
            <h3><strong>Edad:</strong></h3>
              <h3> 23</h3>
            <h3><strong>Contacto:</strong></h3>
             <h3>leandro.97.ramos@gmail.com</h3>

        </div>
        <div class="descripcion-personal">
          <h4>Descripcion<hr></h4>
          <p> 
              Soy un estudiante de Olavarria , provincia de Buenos aires.
              tengo 23 años y soy un estudiante.
              tuve experiencias laborales sobre el desarrollo de un sistema web de compra y venta de juegos, asumi un rol de desarrolo fron-end,
              desarrollando el diseño web , creando y consumiendo APIS, como tambien hacer las conexiones con la Base de datos,
              lamentablemente, el proyecto por temas economicos, se descontinuo , lo cual no puedo comprobar mi experiencia en ese lugar.
          </p>
        </div>
    </div>


    <div class="estudios">
        <h2><strong>Estudios</strong></h2>
        <hr>
        <div class="contenedor-estudios">
            <div class="contenedor-presencial">
                <h2>Estudio Presencial</h2>
                <div class="datos-estudio-presencial">
                    <h4><strong> Nombre de facultad:</strong> UNICEN</h4>
                    <h4><strong> Ingreso: </strong> 2021</h4>
                    <h4><strong> Año en el que estoy:</strong> 1° año</h4>

                    <h4><strong> Titulo de egreso:</strong> Tecnico Universitario en Desarrollo de Aplicaciones Informáticas</h4>
                </div>

            </div>
            <div class="botones-resumen">
                <a class="cv">Ver Cv</a>
                <a class="ver-hbl" (click)="animarContenedor()" >ver habilidades</a>
            </div>
            
            <div class="container">
              <app-skills></app-skills>
            </div>            
            <div class="contenedor-cursos">
                <h2>Cursos</h2>
                <hr>
                <div class="cursos">
                  
                    <div class="curso masterJs">
                    <label>Master en JavaScript: Aprender JS, jQuery, Angular, NodeJS</label>
                      <img src="/assets/cursoVictor.jpg" class="cursoJs" alt="">
                    </div>

                    <div class="curso flexbox">
                      <label>CSS Grid y Flexbox, La Guía Definitiva, Crea + 10 Proyectos</label>
                      <img src="/assets/cursoFlex.jpg" alt="">

                    </div>

                    <div class="curso basicoCssHtml">
                      <label>Aprende a crear páginas web con HTML y CSS</label>
                      <img src="/assets/basicohtmlcss.jpg" alt="">

                    </div>

              </div>
            </div>
        </div>
    </div>

    </div>

  <hr class="separador">


</div>
<div class="contenedor-skills-personales">
      <div class="skills-personales">

            <label><strong>x</strong> Productivo</label>
            <label><strong>x</strong> Autodidacta</label>
            <label><strong>x</strong> Creativo</label>
            <label><strong>x</strong> Sociable</label>
            <label><strong>x</strong> Compañero</label>
            <label><strong>x</strong> Proactivo</label>
            <label><strong>x</strong> Análisis Logico</label>
            <label><strong>x</strong> Iniciativa</label>
            <label><strong>x</strong> Confianza</label>
            <label><strong>x</strong> Responsable</label>
            <label><strong>x</strong> Autocontrol</label>
            <label><strong>x</strong> Manejo de Ingles escrito</label>





      </div>

</div>
