html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.contenedor-datos-personales {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  order: -1;
}

.contenedor-datos-personales img {
  max-width: 250px;
  border-radius: 69px;
}

.contenedor-datos-personales h3 {
  font-size: 1.45rem;
}

.contenedor-datos-personales .contenedor-personal {
  padding: 15px 0px;
}

.contenedor-presencial h2 {
  padding: 15px 0px;
}

.estudios {
  width: 100%;
}

.estudios strong {
  margin: 150px 0px;
}

.descripcion-personal {
  font-size: x-large;
}

.descripcion-personal h4 {
  text-align: center;
  margin-bottom: 0px;
}

.descripcion-personal hr {
  margin-top: 5px;
}

.descripcion-personal p {
  padding-left: 8px;
}

.contenedor-cursos {
  margin-top: 80px;
}

.contenedor-cursos .cursos {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.contenedor-cursos .cursos .curso {
  cursor: pointer;
}

.contenedor-cursos .cursos .masterJs, .contenedor-cursos .cursos .flexbox, .contenedor-cursos .cursos .basicoCssHtml {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-cursos .cursos .masterJs img, .contenedor-cursos .cursos .flexbox img, .contenedor-cursos .cursos .basicoCssHtml img {
  max-width: 350px;
  min-width: 350px;
}

.contenedor-skills-personales {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contenedor-skills-personales .skills-personales {
  display: flex;
  flex-direction: column;
}

.contenedor-skills-personales label {
  color: #969992;
  border: 1px solid #969992;
  margin: 10px;
  padding: 3px;
}

.container {
  display: none;
}

.botones-resumen {
  display: flex;
  margin: 66px 30px 30px 30px;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .contenedor-personal-estudios {
    margin-top: 50px;
    display: flex;
  }
  .contenedor-personal h3 {
    font-size: 1.45rem;
  }
  .contenedor-datos-personales {
    flex: 0 0 20%;
    padding: 0px 40px;
    margin: 0px 40px;
    border-right: 1px  solid black;
  }
  .contenedor-cursos {
    display: flex;
    flex-direction: column;
  }
  .contenedor-cursos .cursos {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contenedor-cursos .curso {
    display: flex;
    align-items: flex-end;
  }
  h2 {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 568px) {
  .contenedor-skills-personales .skills-personales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
