body {
  box-sizing: border-box;
  font-family: 'Lato', bold;
  background-color: rgba(0, 0, 0, 0.6);
}

.header {
  background-image: url(../../../assets/foto-inicio.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.header .barra li {
  color: white;
  font-size: 30px;
  font-family: inherit;
  padding-top: 30px;
}

.barra {
  list-style: none;
  transition: 1.6s ease all;
}

.header-contenido {
  position: relative;
  top: 3%;
}

.header-contenido h1 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.header-contenido h2 {
  color: #e5be01;
  position: relative;
  bottom: 15%;
  font-size: 2.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .barra {
    display: flex;
  }
  .barra li {
    padding: 19px 63px 15px 39px;
  }
  .header-contenido {
    top: 33%;
  }
  .header-contenido h1 {
    font-size: 4rem;
  }
  .header-contenido h2 {
    font-size: 3rem;
  }
}
