<header class="header hero ">
  <div class="barra">
    <div class="contenedor">

      <nav class="navegacion">
        <ul>
          <li [routerLink]="['/projects']" ><a>Projects</a></li>
          <li [routerLink]="['/home']"><a href="#" >Home</a></li>
          <li [routerLink]="['/skills']"><a href="#" >Skills</a></li>
          <li [routerLink]="['/contact']"><a href="#" >About</a></li>

        </ul>


      </nav>

  </div>
</div>
<div class="header-contenido">
  <div class="contenedor">
      <h1 >Leandro Ramos</h1>
      <h2>FRONT-END JR</h2>
  </div>

</div>
</header>
