* {
  background-image: url(../../../assets/projects/buscaMinas/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  width: 100%;
  height: 90vh;
}

h1 {
  font-size: 55px;
  max-height: 10vh;
  width: 90%;
  text-align: center;
  color: red;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 70px;
    width: 100%;
    text-align: center;
    color: red;
  }
}

button {
  font-family: BITWONDER;
  padding: 1rem;
  background: blue;
  color: white;
  letter-spacing: 11px;
}

.contenedor-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedor-principales {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#empezar {
  max-width: 300px;
  max-height: 100px;
  padding-right: 6px;
}

.contenedorJuego {
  max-width: 450px;
  height: 344px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: red;
  padding: 0px;
  margin: 0px;
}

#casilleros {
  max-width: 300px;
  max-height: 100px;
  padding-right: 6px;
}

.casillero, .minas {
  min-width: 35px;
  /* max-height: 34.39px; */
  min-height: 34.39px;
  padding: 100px;
  margin: 100px;
}
