<div class="contenedor-superior">
  <h1>Proyectos</h1>
  <div class="contenedor-proyectos">
    <div class="proyecto">
      <h3>BUSCAMINAS</h3>
      <a href="https://buscaminas-d699e.web.app/"> <img src="../assets/projects/buscaMinas/fondo.jpg"  alt=""></a>
    </div>
    <div class="proyecto">
      <h3>CLIMA</h3>
      <a href="https://buscaminas-d699e.web.app/"><img src="../assets/clima-icon.png"  [routerLink]="['/clima']" alt="" width="150px" height="170px"></a>

    </div>

    <div class="proyecto">
      <h3>TODOLIST</h3>
      <a href="https://buscaminas-d699e.web.app/"><img src="../assets/lista-crud.png"  [routerLink]="['/listas']" alt=""></a>

    </div>

    <div>
    </div>
  </div>
  <!--   <a type="button" name="button" [routerLink]="['/projects']" >+ DETALLES</a>-->
</div>
<div class="container">
  <app-skills></app-skills>
</div>

<div class="contenedor yo">

  <div class="desc">
   <h3><b>un resumen..</b></h3>
    <p>
      Mis estudios empiezan en 2019, haciendo cursos web,
      en 2020 habia desarrollado mi habito de estudiar y poder tomar la iniciativa  mediante la practica y el error,
      en 2021 abrio la carrera TUDAI,
      lo cual me dio la oportunidad de poder profundizar conocimientos y complementandolos para mi desarrollo personal  


    </p>

  </div>

  <div class="quienSoy">

      <a href="#" [routerLink]="['/contact']">¿Quién Soy?</a>

  </div>


</div>


<footer>
    <span>Contactame</span>
    <span>leandro.97.ramos@gmail.com</span>
</footer>