
  <div class="contenedor-titulo">

      <h1>Proyectos</h1>

  </div>
  <div class="contenido-principal">


    <div class="contenedor-carousel" >
        <div class="carousel" >
            <div class="proyecto">
              <a href="#" [routerLink]="['/Buscaminas']"><img src="../assets/projects/buscaMinas/fondo.jpg" alt=""></a>

            </div>
            <div class="proyecto">
              <a href="#"><img src="../assets/image.png" alt=""></a>

            </div>
            <div class="proyecto">
              <a href="#"><img src="../assets/título.png" alt=""></a>

            </div>
            <div class="proyecto">
              <a href="#"><img src="../assets/image.png" alt=""></a>

            </div>
            <div class="proyecto">
              <a href="#"><img src="../assets/título.png" alt=""></a>

            </div>
            <div class="proyecto">
              <a href="#"><img src="../assets/título.png" alt=""></a>

            </div>
            <div class="proyecto">
              <a href="#"><img src="../assets/image.png" alt=""></a>

            </div>
            <div class="proyecto">
              <a href="#"><img src="../assets/título.png" alt=""></a>

            </div>
        </div>
    </div>
  </div>
