.contenedor-skill {
  padding-top: 5.5rem;
}

.contenedor-skill .tabla-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
}

.contenedor-skill {
  width: 100%;
}

.titulo-skills h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
  padding: 6rem 0;
}

/* progreso skills */
.skill-js::marker {
  color: #F0DB4F;
}

.skill-html::marker {
  color: #f06529;
}

.skill-css3::marker {
  color: #264de4;
}

.skill-angular::marker {
  color: #dd1b16;
}

.skill-mongo::marker {
  color: #3FA037;
}

.skill-gulp-sass::marker {
  color: #CC6698;
}

.skill-API-REST::marker {
  color: #ffff;
}

.skill-Express::marker {
  color: #ffff;
}

.skill-TypeScript::marker {
  color: #3178C6;
}

.skill-NodeJs::marker {
  color: #4DB33D;
}

.skill-CSS-Grid::marker {
  color: #CC66D7;
}

.skill-c::marker {
  color: #9b4f96;
}

.skill-asp-net::marker {
  color: #26c340;
}

.skill-sql::marker {
  color: #3297dc;
}

.skill-Flexbox::marker {
  color: #01D8CD;
}

.skill-jQuery::marker {
  color: #3FAC8F;
}

.contenedor-referencia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .contenedor-skill .tabla-skills {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
}
