@charset "UTF-8";
*, *:after, *:before {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', bold;
}

.contenedor-skills {
  padding-top: 5.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedor-skill {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .contenedor-skill {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.titulo-skills h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 6rem;
}

/* progreso skills */
.skill-js {
  margin: auto;
  background: linear-gradient(0deg, #1dc31f 60%, rgba(0, 0, 0, 0.2) 75%);
  position: relative;
  transform: rotate(120deg);
}

.skill-js, .skill-js:before, .skill-js:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.skill-js:before {
  content: "JS";
  position: absolute;
  top: 0;
  left: 0;
  background: #323330 content-box;
  padding: .5em;
  box-sizing: border-box;
  font-size: 2rem;
  color: #F0DB4F;
  text-align: center;
  line-height: 8rem;
  transform: rotate(-120deg);
}

.skill-js:after {
  content: "Óptimo";
  position: absolute;
  font-size: 25px;
  top: 0;
  left: 0;
  background: linear-gradient(transparent 50%, #f6f6f6 50%);
  transform: scale(1.1) rotate(-120deg);
  text-align: center;
  color: black;
  line-height: 14rem;
}

.skill-html {
  margin: auto;
  background: linear-gradient(0deg, #1dc31f 60%, rgba(0, 0, 0, 0.2) 80%);
  position: relative;
  transform: rotate(120deg);
}

.skill-html, .skill-html:before, .skill-html:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.skill-html:before {
  content: "HTML5";
  position: absolute;
  top: 0;
  left: 0;
  background: #323330  content-box;
  padding: .5em;
  box-sizing: border-box;
  font-size: 2rem;
  color: #f06529;
  text-align: center;
  line-height: 8rem;
  transform: rotate(-120deg);
}

.skill-html:after {
  content: "Óptimo";
  position: absolute;
  font-size: 25px;
  top: 0;
  left: 0;
  background: linear-gradient(transparent 50%, #f6f6f6 50%);
  transform: scale(1.1) rotate(-120deg);
  text-align: center;
  color: black;
  line-height: 14rem;
}

.skill-css3 {
  margin: auto;
  background: linear-gradient(0deg, #1dc31f 40%, rgba(0, 0, 0, 0.2) 60%);
  position: relative;
  transform: rotate(120deg);
}

.skill-css3, .skill-css3:before, .skill-css3:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.skill-css3:before {
  content: "CSS3";
  position: absolute;
  top: 0;
  left: 0;
  background: #323330  content-box;
  padding: .5em;
  box-sizing: border-box;
  font-size: 2rem;
  color: #264de4;
  text-align: center;
  line-height: 8rem;
  transform: rotate(-120deg);
}

.skill-css3:after {
  content: "Óptimo";
  position: absolute;
  font-size: 25px;
  top: 0;
  left: 0;
  background: linear-gradient(transparent 50%, #f6f6f6 50%);
  transform: scale(1.1) rotate(-120deg);
  text-align: center;
  color: black;
  line-height: 14rem;
}

.skill-angular {
  margin: auto;
  background: linear-gradient(0deg, #5ec31f 20%, rgba(0, 0, 0, 0.2) 40%);
  position: relative;
  transform: rotate(120deg);
}

.skill-angular, .skill-angular:before, .skill-angular:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.skill-angular:before {
  content: "Angular";
  position: absolute;
  top: 0;
  left: 0;
  background: #323330 content-box;
  padding: .5em;
  box-sizing: border-box;
  font-size: 2rem;
  color: #dd1b16;
  text-align: center;
  line-height: 8rem;
  transform: rotate(-120deg);
}

.skill-angular:after {
  content: "Bueno";
  position: absolute;
  font-size: 25px;
  top: 0;
  left: 0;
  background: linear-gradient(transparent 50%, #f6f6f6 50%);
  transform: scale(1.1) rotate(-120deg);
  text-align: center;
  color: black;
  line-height: 14rem;
}

.skill-mongo {
  margin: auto;
  background: linear-gradient(0deg, #acae00 10%, rgba(0, 0, 0, 0.2) 20%);
  position: relative;
  transform: rotate(120deg);
}

.skill-mongo, .skill-mongo:before, .skill-mongo:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.skill-mongo:before {
  content: "Mongo";
  position: absolute;
  top: 0;
  left: 0;
  background: #323330 content-box;
  padding: .5em;
  box-sizing: border-box;
  font-size: 2rem;
  color: #3FA037;
  text-align: center;
  line-height: 8rem;
  transform: rotate(-120deg);
}

.skill-mongo:after {
  content: "Regular";
  position: absolute;
  font-size: 25px;
  top: 0;
  left: 0;
  background: linear-gradient(transparent 50%, #f6f6f6 50%);
  transform: scale(1.1) rotate(-120deg);
  text-align: center;
  color: black;
  line-height: 14rem;
}

.skill-gulp-sass {
  margin: auto;
  background: linear-gradient(0deg, #5ec31f 30%, rgba(0, 0, 0, 0.2) 45%);
  position: relative;
  transform: rotate(120deg);
}

.skill-gulp-sass, .skill-gulp-sass:before, .skill-gulp-sass:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.skill-gulp-sass:before {
  content: "Gulp-Sass";
  position: absolute;
  top: 0;
  left: 0;
  background: #323330 content-box;
  padding: .5em;
  box-sizing: border-box;
  font-size: 2rem;
  color: #CC6698;
  text-align: center;
  line-height: 8rem;
  transform: rotate(-120deg);
}

.skill-gulp-sass:after {
  content: "Bueno";
  position: absolute;
  font-size: 25px;
  top: 0;
  left: 0;
  background: linear-gradient(transparent 50%, #f6f6f6 50%);
  transform: scale(1.1) rotate(-120deg);
  text-align: center;
  color: black;
  line-height: 14rem;
}

.skill-API-REST {
  margin: auto;
  background: linear-gradient(0deg, #5ec31f 26%, rgba(0, 0, 0, 0.2) 37%);
  position: relative;
  transform: rotate(120deg);
}

.skill-API-REST, .skill-API-REST:before, .skill-API-REST:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.skill-API-REST:before {
  content: "API-REST";
  position: absolute;
  top: 0;
  left: 0;
  background: #323330 content-box;
  padding: .5em;
  box-sizing: border-box;
  font-size: 2rem;
  color: #ffff;
  text-align: center;
  line-height: 8rem;
  transform: rotate(-120deg);
}

.skill-API-REST:after {
  content: "Bueno";
  position: absolute;
  font-size: 25px;
  top: 0;
  left: 0;
  background: linear-gradient(transparent 50%, #f6f6f6 50%);
  transform: scale(1.1) rotate(-120deg);
  text-align: center;
  color: black;
  line-height: 14rem;
}

.skill-Express {
  margin: auto;
  background: linear-gradient(0deg, #5ec31f 26%, rgba(0, 0, 0, 0.2) 37%);
  position: relative;
  transform: rotate(120deg);
}

.skill-Express, .skill-Express:before, .skill-Express:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.skill-Express:before {
  content: "Express";
  position: absolute;
  top: 0;
  left: 0;
  background: #323330 content-box;
  padding: .5em;
  box-sizing: border-box;
  font-size: 2rem;
  color: #ffff;
  text-align: center;
  line-height: 8rem;
  transform: rotate(-120deg);
}

.skill-Express:after {
  content: "Bueno";
  position: absolute;
  font-size: 25px;
  top: 0;
  left: 0;
  background: linear-gradient(transparent 50%, #f6f6f6 50%);
  transform: scale(1.1) rotate(-120deg);
  text-align: center;
  color: black;
  line-height: 14rem;
}

.skill-TypeScript {
  margin: auto;
  background: linear-gradient(0deg, #5ec31f 23%, rgba(0, 0, 0, 0.2) 37%);
  position: relative;
  transform: rotate(120deg);
}

.skill-TypeScript, .skill-TypeScript:before, .skill-TypeScript:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.skill-TypeScript:before {
  content: "TypeScript";
  position: absolute;
  top: 0;
  left: 0;
  background: #323330 content-box;
  padding: .5em;
  box-sizing: border-box;
  font-size: 2rem;
  color: #3178C6;
  text-align: center;
  line-height: 8rem;
  transform: rotate(-120deg);
}

.skill-TypeScript:after {
  content: "Bueno";
  position: absolute;
  font-size: 25px;
  top: 0;
  left: 0;
  background: linear-gradient(transparent 50%, #f6f6f6 50%);
  transform: scale(1.1) rotate(-120deg);
  text-align: center;
  color: black;
  line-height: 14rem;
}

.skill-NodeJs {
  margin: auto;
  background: linear-gradient(0deg, #acae00 5%, rgba(0, 0, 0, 0.2) 25%);
  position: relative;
  transform: rotate(120deg);
}

.skill-NodeJs, .skill-NodeJs:before, .skill-NodeJs:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.skill-NodeJs:before {
  content: "NODE";
  position: absolute;
  top: 0;
  left: 0;
  background: #323330 content-box;
  padding: .5em;
  box-sizing: border-box;
  font-size: 2rem;
  color: #4DB33D;
  text-align: center;
  line-height: 8rem;
  transform: rotate(-120deg);
}

.skill-NodeJs:after {
  content: "Regular";
  position: absolute;
  font-size: 25px;
  top: 0;
  left: 0;
  background: linear-gradient(transparent 50%, #f6f6f6 50%);
  transform: scale(1.1) rotate(-120deg);
  text-align: center;
  color: black;
  line-height: 14rem;
}

.skill-CSS-Grid {
  margin: auto;
  background: linear-gradient(0deg, #1dc31f 50%, rgba(0, 0, 0, 0.2) 75%);
  position: relative;
  transform: rotate(120deg);
}

.skill-CSS-Grid, .skill-CSS-Grid:before, .skill-CSS-Grid:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.skill-CSS-Grid:before {
  content: "CSS-GRID";
  position: absolute;
  top: 0;
  left: 0;
  background: #323330 content-box;
  padding: .5em;
  box-sizing: border-box;
  font-size: 2rem;
  color: #CC66D7;
  text-align: center;
  line-height: 8rem;
  transform: rotate(-120deg);
}

.skill-CSS-Grid:after {
  content: "Óptimo";
  position: absolute;
  font-size: 25px;
  top: 0;
  left: 0;
  background: linear-gradient(transparent 50%, #f6f6f6 50%);
  transform: scale(1.1) rotate(-120deg);
  text-align: center;
  color: black;
  line-height: 14rem;
}

.skill-Flexbox {
  margin: auto;
  background: linear-gradient(0deg, #1dc31f 50%, rgba(0, 0, 0, 0.2) 75%);
  position: relative;
  transform: rotate(120deg);
}

.skill-Flexbox, .skill-Flexbox:before, .skill-Flexbox:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.skill-Flexbox:before {
  content: "FLEXBOX";
  position: absolute;
  top: 0;
  left: 0;
  background: #323330 content-box;
  padding: .5em;
  box-sizing: border-box;
  font-size: 2rem;
  color: #01D8CD;
  text-align: center;
  line-height: 8rem;
  transform: rotate(-120deg);
}

.skill-Flexbox:after {
  content: "Óptimo";
  position: absolute;
  font-size: 25px;
  top: 0;
  left: 0;
  background: linear-gradient(transparent 50%, #f6f6f6 50%);
  transform: scale(1.1) rotate(-120deg);
  text-align: center;
  color: black;
  line-height: 14rem;
}

.skill-jQuery {
  margin: auto;
  background: linear-gradient(0deg, #1dc31f 50%, rgba(0, 0, 0, 0.2) 65%);
  position: relative;
  transform: rotate(120deg);
}

.skill-jQuery, .skill-jQuery:before, .skill-jQuery:after {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.skill-jQuery:before {
  content: "jQuery";
  position: absolute;
  top: 0;
  left: 0;
  background: #323330 content-box;
  padding: .5em;
  box-sizing: border-box;
  font-size: 2rem;
  color: #3FAC8F;
  text-align: center;
  line-height: 8rem;
  transform: rotate(-120deg);
}

.skill-jQuery:after {
  content: "Óptimo";
  position: absolute;
  font-size: 25px;
  top: 0;
  left: 0;
  background: linear-gradient(transparent 50%, #f6f6f6 50%);
  transform: scale(1.1) rotate(-120deg);
  text-align: center;
  color: black;
  line-height: 14rem;
}
