<div class="contenedor-skill">
  <table class="tabla-skills">




    <td class="tbl fronts">
      <tr>
        <th>
          <h2>Front-End</h2>
        </th>
      </tr>
      <tr>
        <ul class="front">

          <li class="skill-html">
            html <b>ALTO</b>
          </li>
          <li class="skill-css">
            css3 <b>ALTO</b>
          </li>
          <li class="skill-js">
            js <b>ALTO</b>
          </li>
          <li class="skill-angular">
            angular <b>ALTO</b>
          </li>
          <li class="skill-gulp-sass">
            gulp-sass <b>ALTO</b>
          </li>
          <li class="skill-CSS-Grid">
            CSS-Grid <b>ALTO</b>
          </li>
          <li class="skill-Flexbox">
            Flexbox <b>ALTO</b>
          </li>
          <li class="skill-jQuery">
            jQuery <b>ALTO</b>
          </li>
          <li class="skill-asp-net">
            asp-net <b>BASICO</b>
          </li>
        </ul>
      </tr>
    <td class="tbl backs">

      <tr>
        <th>
          <h2>Back-End</h2>
        </th>
      </tr>
      <tr>

        <ul class="back">

          <li class="skill-mongo">
            mongo <b>Medio</b>
          </li>

          <li class="skill-NodeJs ">
            NodeJs <b>Medio</b>
          </li>
          <li class="skill-Express">
            Express <b>BAJO</b>
          </li>
          <li class="skill-API-REST">
            API-REST <b>MEDIO</b>
          </li>
          <li class="skill-sql">
            sql <b>BASICO</b>
          </li>
          <li class="skill-net">
            .Net <b>BASICO</b>
          </li>
        </ul>
      </tr>


    </td>
    <td class="tbl lengs">
      <tr>
        <th>
          <h2>Lenguajes</h2>
        </th>
      </tr>
      <tr>
        <ul class="lengs">

          <li class="skill-c">
            c# <b>BASICO</b>
          </li>
          <li class="skill-java">
            java <b>MEDIO</b>
          </li>
          <li class="skill-TypeScript">
            TypeScript <b>MEDIO</b>
          </li>
          <li class="skill-js">
            JavaScript <b>MEDIO</b>
          </li>
        </ul>
      </tr>
    </td>
  </table>


<div class="contenedor-referencia">
      <h2 class="referencias"><b>REFERENCIAS:</b></h2>
      <div class="glosario">
        <div>
          <h3>Alto:</h3>
          <ul>
            <li>Desarrolle mas de una app con esta tecnologia</li>
            <li>Desarrollo agil sobre esta tecnologia </li>
            <li>Realice un Curso especifico sobre esta tecnologia </li>
            <li>Tengo suficiente conocimiento para leer su documentacion</li>
            <li>Tengo experiencia de mas de 2 años</li>

          </ul>
        </div>
        <div>
          <h3>Medio:</h3>
          <ul>
            <li>Desarrolle mas de una app con esta tecnologia</li>
            <li>Realice un Curso sobre esta tecnologia </li>
            <li>Tengo suficiente conocimiento para leer su documentacion</li>
          </ul>
        </div>
        <div>
          <h3>Basico:</h3>
          <ul>
            <li>Utilice en algun momento esta tecnologia</li>
            <li>Tengo suficiente conocimiento para leer su documentacion</li>
          </ul>
        </div>
      </div>

      </div>
</div>