
// rgb(29, 195, 31);

// colores progreso
$colorOptimo: rgb(29, 195, 31);

$colorBueno: rgb(94, 195, 31);

$colorRegular: rgb(172, 174, 0);

$colorBasico: rgb(218,0,1);

// DEG de gradientes
$opcionAdeg: 0deg;
$opcionBdeg: 301deg;

// OPCIONES PORCENTAJE

$porcentajeA: 5%;
$porcentajeB: 10%;
$porcentajeC: 20%;
$porcentajeD: 25%;
$porcentajeE: 32%;
$porcentajeF: 37%;
$porcentajeG: 45%;
$porcentajeH: 50%;
$porcentajeI: 60%;
$porcentajeJ: 75%;
$porcentajeK: 80%;
$porcentajeM: 40%;
$porcentajeN: 65%;
// OPCIONES DE NOMBRES

$nombreJs : "JS";
$nombreHtml : "HTML5";
$nombreCss : "CSS";
$nombreAngular : "Angular";
$nombreMongo : "Mongo";
$nombreGulp : "GULP";
$nombreApi : "API-REST";
$nombreExpres : "Express";
$nombreTs : "TypeScript";
$nombreNode : "Node";
$nombreGrid : "CSS-GRID";
$nombreSql : "Sql";
$nombreAsp : "Asp.Net";
$nombreFlex : "Flexbox";
$nombreJquery : "jQuery";
$nombreC : "C#";

// opcion de grado

$optimo: "Óptimo";
$bueno: "Bueno";
$regular: "Regular";
$basico: "Básico";


// Color Nombre

$colorJs: #F0DB4F;
$colorHtml: #f06529;
$colorCss: #264de4;
$colorAngular:#dd1b16 ;
$colorMongo:#3FA037 ;
$colorGulp: #CC6698 ;
$colorApi:  #ffff ;
$colorExpres: #ffff;
$colorTs: #3178C6;
$colorNode:#4DB33D ;
$colorGrid: #CC66D7;
$colorSql: rgb(50,151,220);
$colorFlex: #01D8CD ;
$colorJquery:#3FAC8F ;
$colorC: rgb(155,79,150);
$colorAsp: #26c340;
