html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}


  .contenedor-datos-personales{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid black;
    order: -1;
    img{
      max-width: 250px;
      border-radius: 69px;
    }
    .contenedor-personal{
      padding: 15px 0px;
    }
  }
  .contenedor-presencial{
    h2{
      padding: 15px 0px;
    }
  }
  .estudios{
    width: 100%;
    strong{
      margin: 150px 0px;
    }
  }
  .descripcion-personal{
    font-size: x-large;
    h4{
      text-align: center;
      margin-bottom: 0px;
    }
    hr{
      margin-top: 5px;
    }
    p{
      padding-left: 8px;
    }
  }
  .contenedor-cursos{
    margin-top: 80px;


  .cursos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    .curso{
      cursor:pointer;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex-wrap: wrap;
      height: 24vh;
      margin: 15px 0px;
      max-width: 410px;

    }
    label{
      display: block;
      margin: 0px 67px;
      max-width: 410px;
      background-color: rgba(0, 0, 0, 0.6);
      color:white;

    }
  }
  .masterJs{

    background-image:  url("/assets/cursoVictor.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;

  }
  .flexbox{
    background-image:  url("/assets/cursoFlex.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;

  }
  .basicoCssHtml{

    background-image:  url("/assets/basicohtmlcss.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
  }
}


@media screen and(min-width:768px ){
  .contenedor-personal-estudios{
    margin-top: 50px;
    display: flex;

  }
  .contenedor-datos-personales{
    flex: 0 0 20%;
    padding: 0px 40px;
    margin: 0px 40px;
  }

  .contenedor-cursos{
  display: flex;
  flex-direction: column;
    .cursos{
      flex-direction: row;
      flex-wrap: wrap;
    }
    .curso{

      display: flex;
      align-items: flex-end;
      min-width: 400px;
      max-width: 410px;
      min-height: 150px;

    }
    }
    h2{
      margin-bottom: 35px;
    }

}

.contenedor-skills-personales{
  width: 100%;
  display: flex;
  justify-content:center;
  .skills-personales{

    display: flex;
    flex-direction: column;

  }
  label{


    color: #969992;
    border: 1px solid #969992;
    margin: 10px;
    padding:  3px;

  }
}

@media screen and (min-width:568px){
  .contenedor-skills-personales{
    .skills-personales{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:space-around;

      label{
        text-align: left;
        padding: 7px;

      }
    }

  }

}
