@import "variables";

body{
  font-family: "Lato", bold;

}
h1 {
  width: 100%;
  font-size: 3rem;
  padding-left: 30px;
  padding-bottom: 16px;
}

.contenedor-superior{
  display: flex;
  flex-direction: column;
  padding: 25px 25px;

  img{
    width: 250px;
  }
}

.yo{ 
  -webkit-box-shadow: -2px -13px 15px -7px rgba(0,0,0,0.3); 
  box-shadow: -2px -13px 15px -7px rgba(0,0,0,0.3);
  background: #e0e0e0;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin-top:20px;

.desc{
  padding: 32px 18px 0px 18px;
  h3{
    font-size:  2.5rem;
   }
}
.quienSoy{
    background: #24211bfa;
    text-align: center;
    padding: 40px 0px;
  }
}

footer{
  width: 100%;
  padding: 50px 0px;
  height: auto;
  background-color: rgba(25, 25, 25, 2.6);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;

}


@media screen and (min-width:768px){
  .contenedor-proyectos{
    display: flex;
    justify-content: space-around;
    img{
      width: 250px;
      height: 165px;
    }
  }
}
