*,*:after, *:before {
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
}
body{
  box-sizing: border-box;
  font-family:  'Lato', bold;


}
.contenido-principal{

  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  img{
      min-width: 250px;
      max-width: 480px;

  }
}
.contenedor-titulo{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-size: 30px;
}

.contenedor-carousel{

}
.proyecto{
  width: fit-content;
  padding: 25px 15px;
}
.carousel{
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}
@media screen and (max-width: 1150px){
  .carousel{

    display: flex;
    flex-wrap: wrap;
  }
}
