@import "variables";

.contenedor-skill {
  padding-top: 5.5rem;

  .tabla-skills{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px;
  }
}

.contenedor-skill {
  width: 100%;
}

.titulo-skills h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
  padding: 6rem 0;
}

/* progreso skills */

.skill-js {
  &::marker {
    color: $colorJs;
  }
}

.skill-html {
  &::marker {
    color: $colorHtml;
  }
}

.skill-css3 {
  &::marker {
    color: $colorCss;
  }
}
.skill-angular {
  &::marker {
    color:  $colorAngular;
  }
}

.skill-mongo {
  &::marker {
  color: $colorMongo;
  }
}

.skill-gulp-sass {
  &::marker {
    color:  $colorGulp;
  }
}

.skill-API-REST {
  &::marker {
    color: $colorApi;
  }
}

.skill-Express {
  &::marker {
    color: $colorExpres;
  }
}

.skill-TypeScript {
  &::marker {
    color: $colorTs;
  }
}

.skill-NodeJs {
  &::marker {
    color: $colorNode;
  }
}
.skill-CSS-Grid {
  &::marker {
    color: $colorGrid;
  }
}

.skill-c {
  &::marker {
    color: $colorC;
  }
}
.skill-asp-net {
  &::marker {
    color: $colorAsp;
  }
}

.skill-sql {
  &::marker {
    color: $colorSql;
  }
}

.skill-Flexbox {
  &::marker {
    color: $colorFlex;
  }
}

.skill-jQuery {
  &::marker {
    color: $colorJquery;
  }
}

.contenedor-referencia{
  display: flex;
  flex-direction: column;
  align-items: center;
}